FACEBOOK_CLIENT_ID="380046729258322"
FACEBOOK_CLIENT_SECRET="6db050b4186c83fedf84a57de7471a55"
FACEBOOK_CALLBACK_URL="http://localhost:3000/api/auth/facebook/callback"
# scope should be string, that contains values, separated by space
FACEBOOK_SCOPE="profile"

VK_CLIENT_ID="6920815"
VK_CLIENT_SECRET="XAoKZhYUY1V9JmcfHrIe"
VK_CALLBACK_URL="http://localhost:3000/api/auth/vk/callback"
# scope and profile_fields should be strings, that contains values, separated by space
VK_SCOPE="email"
VK_PROFILE_FIELDS="photo_200_orig"
VK_API_VER="5.92"

JWT_SECRET_KEY="SUPER_SECRET_KEY"
WS_SERVER_PORT="9009"

DB_TYPE="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_DATABASE_NAME="trainingdb"
DB_ENTITIES="src/**/**.entity{.ts,.js}"
DB_SYNCHRONIZE="true"